.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.heroSection2:global(.__wab_instance) {
  position: relative;
}
.freeBox___1AMuG {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___1AMuG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___1AMuG > :global(.__wab_flex-container) > *,
.freeBox___1AMuG > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__coTqn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__coTqn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__coTqn > :global(.__wab_flex-container) > *,
.freeBox__coTqn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__vEsMv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.freeBox__umjAy {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
  background: #ffffff;
  padding: 4px 8px;
}
.freeBox__gdaLg {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: cWIcYgKmdkP1vA */;
}
.freeBox__wwdPu {
  font-size: 20px;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
  line-height: 28px;
}
.freeBox__yOHo {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__yOHo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__yOHo > :global(.__wab_flex-container) > *,
.freeBox__yOHo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__irv4Y:global(.__wab_instance) {
  position: relative;
}
.svg__deOvu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__toBvu {
  height: auto;
}
.svg__c5Dod {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.button__aIOj7:global(.__wab_instance) {
  position: relative;
}
.svg__z3EAn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox___06Cmg {
  height: auto;
  font-weight: 400;
}
.svg__ldvek {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__yN4N6 {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__yN4N6 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yN4N6 > :global(.__wab_flex-container) > *,
.freeBox__yN4N6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__sBNh {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__nJkgq {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__nJkgq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nJkgq > :global(.__wab_flex-container) > *,
.freeBox__nJkgq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__bSzy2 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bSzy2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bSzy2 > :global(.__wab_flex-container) > *,
.freeBox__bSzy2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__u8OZ0:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__yNarQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.svg__kGb7N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.button__tpi9A:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__gi2YP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.svg__i6Sxv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__k0EgF {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__k0EgF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__k0EgF > :global(.__wab_flex-container) > *,
.freeBox__k0EgF > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.divider___5Pazf:global(.__wab_instance) {
  position: relative;
}
.divider__frs0E:global(.__wab_instance) {
  position: relative;
}
.freeBox__hmut5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hmut5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hmut5 > :global(.__wab_flex-container) > *,
.freeBox__hmut5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.button__zZfc:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zmJoW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.svg__zGz3O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: DEf9XMXNcCfL5H */;
}
.divider___8SkF:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__qzB62 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__yLiod {
  position: relative;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.navigation:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__pavO {
  object-fit: cover;
  width: 40px;
}
.button__ta6K8:global(.__wab_instance) {
  position: relative;
}
.svg__iQn1R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.svg__jXeDm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.button__gsb8X:global(.__wab_instance) {
  position: relative;
}
.svg__eIyK6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.svg__k3Xhh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.button___11Efk:global(.__wab_instance) {
  position: relative;
}
.svg__zjnf8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.svg__l8R07 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.button__xXh4A:global(.__wab_instance) {
  position: relative;
}
.svg__bxxDi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__aysrG {
  height: auto;
}
.svg__opWh7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.button__xE5J:global(.__wab_instance) {
  position: relative;
}
.svg__dhM5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.svg__lz5Ka {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.button__zToqZ:global(.__wab_instance) {
  position: relative;
}
.svg__qXxOu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.svg__p6Q9W {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__xgpTt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__a5LEq {
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__a5LEq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__a5LEq > :global(.__wab_flex-container) > *,
.freeBox__a5LEq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__rMyve {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: cWIcYgKmdkP1vA */;
  line-height: 1;
}
.freeBox__uWdFl {
  font-size: 20px;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
  text-align: left;
  line-height: 28px;
}
.freeBox__yRcKf {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__yRcKf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__yRcKf > :global(.__wab_flex-container) > *,
.freeBox__yRcKf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
.freeBox__ecdbn {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ecdbn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__ecdbn > :global(.__wab_flex-container) > *,
.freeBox__ecdbn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ecdbn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ecdbn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ecdbn > :global(.__wab_flex-container) > *,
  .freeBox__ecdbn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__zOObH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dm8F {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__ptv9E {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.valueprop__ojjPm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kyUd0 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__dAZm {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.valueprop__oU1Db:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jcB1K {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__jcAVk {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.valueprop__pQLiD:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zKbqU {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__voRtQ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.freeBox__yEp6M {
  height: auto;
}
.freeBox__hoxoI {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__hoxoI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__hoxoI > :global(.__wab_flex-container) > *,
.freeBox__hoxoI > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
.freeBox__pNymd {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pNymd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__pNymd > :global(.__wab_flex-container) > *,
.freeBox__pNymd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pNymd {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pNymd > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pNymd > :global(.__wab_flex-container) > *,
  .freeBox__pNymd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop___5BVom:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___3O6G {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__xrqEj {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.freeBox__oadsh {
  height: auto;
}
.valueprop__pk2Q:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xb3Rv {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__rjFUr {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.valueprop__yM8Y:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__d2Wsp {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__hfMtw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.valueprop__wTok:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__q6CXv {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__hiSsd {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.freeBox__ev0Lb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__hEmRv {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__hEmRv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hEmRv > :global(.__wab_flex-container) > *,
.freeBox__hEmRv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__chlqd {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: UBGDZXf33QWwm2 */;
}
.h2__gpsAg {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: Vusv9sRh4z9Voz */;
  line-height: 1;
}
.freeBox__u7U43 {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: DEf9XMXNcCfL5H */;
  line-height: 28px;
  height: auto;
}
.button__zkW1O:global(.__wab_instance) {
  position: relative;
}
.svg__hqw3Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__sZmqd {
  color: #0a84ff /* plasmic-token: rLqNeFFpPkTRt2 */;
}
.svg__tnTd0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: rLqNeFFpPkTRt2 */;
}
.freeBox__tSGtH {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__sligA:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ypkX6 {
  color: #ffffffd9 /* plasmic-token: Vusv9sRh4z9Voz */;
}
.svg__hxzIo {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: UBGDZXf33QWwm2 */;
}
.listItem__qd1Gf:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__o2OlP {
  color: #ffffffd9 /* plasmic-token: Vusv9sRh4z9Voz */;
}
.svg__i6Sow {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: UBGDZXf33QWwm2 */;
}
.listItem__f7GAh:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__jrzey {
  height: auto;
  color: #ffffffd9 /* plasmic-token: Vusv9sRh4z9Voz */;
}
.svg__r9SW0 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: UBGDZXf33QWwm2 */;
}
.listItem__d2Vo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__h9A9D {
  height: auto;
  color: #ffffffd9 /* plasmic-token: Vusv9sRh4z9Voz */;
}
.svg__obiC {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: UBGDZXf33QWwm2 */;
}
.listItem__l07PG:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___8Dfzs {
  height: auto;
  color: #ffffffd9 /* plasmic-token: Vusv9sRh4z9Voz */;
}
.svg__oIevy {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: UBGDZXf33QWwm2 */;
}
.freeBox__soXf5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___47M2Z {
  display: flex;
  flex-direction: column;
}
.freeBox___47M2Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___47M2Z > :global(.__wab_flex-container) > *,
.freeBox___47M2Z > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__cHaeN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__nYI3 {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: Vusv9sRh4z9Voz */;
  line-height: 1;
}
.freeBox__oiYjo {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: DEf9XMXNcCfL5H */;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__jibHt {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
}
.freeBox__jibHt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jibHt {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jibHt > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jibHt > :global(.__wab_flex-container) > *,
  .freeBox__jibHt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__waONi {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__waONi {
    border-radius: 16px;
  }
}
.freeBox__qLbr6 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__qLbr6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qLbr6 > :global(.__wab_flex-container) > *,
.freeBox__qLbr6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__dAee {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__bPyDj {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bPyDj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__bPyDj > :global(.__wab_flex-container) > *,
.freeBox__bPyDj > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox__pUjD1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___37CqB {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: cWIcYgKmdkP1vA */;
  width: auto;
  display: inline-block;
}
.freeBox__wJcFj {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: cWIcYgKmdkP1vA */;
  width: auto;
  display: inline-block;
}
.freeBox___92Gwv {
  line-height: 28px;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider___5RvMk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__z35Zg {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__z35Zg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__z35Zg > :global(.__wab_flex-container) > *,
.freeBox__z35Zg > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__uSett {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__uSett > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__uSett > :global(.__wab_flex-container) > *,
.freeBox__uSett > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop__xBwLw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ku6Um {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__wmIh3 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.valueprop___5ZSht:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vymWz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__aPcMz {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.svg__f8KSd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__zv9FV {
  height: auto;
}
.svg__v31U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__yL3Ga {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  border-radius: 16px;
  border: 4px solid #34c759 /* plasmic-token: L7WkZ8x61GzYfc */;
}
.freeBox__gvZth {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__gvZth > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gvZth > :global(.__wab_flex-container) > *,
.freeBox__gvZth > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__h3Cg8 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__g14Tk {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__g14Tk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__g14Tk > :global(.__wab_flex-container) > *,
.freeBox__g14Tk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox__l19N1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__lrHt {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: cWIcYgKmdkP1vA */;
  width: auto;
  display: inline-block;
}
.freeBox__lQrr {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: cWIcYgKmdkP1vA */;
  width: auto;
  display: inline-block;
}
.freeBox__gPipv {
  line-height: 28px;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__iercG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__xJuW {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__xJuW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__xJuW > :global(.__wab_flex-container) > *,
.freeBox__xJuW > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox___2KJo {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___2KJo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___2KJo > :global(.__wab_flex-container) > *,
.freeBox___2KJo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop__yar2Y:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dMhdu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__amvNp {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.valueprop__fiYbO:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__xQhq8 {
  height: auto;
}
.svg___0Yx1E {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__usI49 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.valueprop__v4V6I:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wId6S {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__neC8U {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.valueprop__pVmDg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__mqjlq {
  height: auto;
}
.svg__k7TK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__q48UU {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.svg__royu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__uwQiD {
  height: auto;
}
.svg__sfX4N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__vk8CF {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vk8CF {
    border-radius: 16px;
  }
}
.freeBox__cB6Te {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__cB6Te > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cB6Te > :global(.__wab_flex-container) > *,
.freeBox__cB6Te > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__omgGf {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox___7WCLk {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___7WCLk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___7WCLk > :global(.__wab_flex-container) > *,
.freeBox___7WCLk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox__zbiNh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__tTy {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: cWIcYgKmdkP1vA */;
  width: auto;
  display: inline-block;
}
.freeBox__d8IX4 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: cWIcYgKmdkP1vA */;
  width: auto;
  display: inline-block;
}
.freeBox__idwjl {
  line-height: 28px;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__hugUb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__gl4G3 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__gl4G3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__gl4G3 > :global(.__wab_flex-container) > *,
.freeBox__gl4G3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__gH7Ea {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__gH7Ea > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gH7Ea > :global(.__wab_flex-container) > *,
.freeBox__gH7Ea > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop___0I9S7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__aIyWt {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___1JrZ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.valueprop__tTxBd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oXdF7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__wYlUr {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Jr2thZRtGF5yY4 */;
}
.svg__hx3Vr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__nSwVr {
  height: auto;
}
.svg__l2E41 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.shopBanners:global(.__wab_instance) {
  position: relative;
}
.banner__gqWyz:global(.__wab_instance) {
  position: relative;
}
.img__cx5YJ {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.freeBox__sLoGp {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__qdqht {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: cWIcYgKmdkP1vA */;
  line-height: 1;
  height: auto;
}
.svg___8Tm6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__pqQKy {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: 0ySzEMIp_3yWk9 */;
  white-space: pre;
  display: inline-block;
}
.svg__vgW6L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__pUTtg {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__pUTtg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__pUTtg > :global(.__wab_flex-container) > *,
.freeBox__pUTtg > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pUTtg {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pUTtg > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pUTtg > :global(.__wab_flex-container) > *,
  .freeBox__pUTtg > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.img__mw7Tj {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.freeBox__wv0T2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__t8JB {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: cWIcYgKmdkP1vA */;
  line-height: 1;
  height: auto;
}
.svg__fYrQz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox___09TMu {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: 0ySzEMIp_3yWk9 */;
  white-space: pre;
  display: inline-block;
}
.svg__qsclN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.banner__uaVrp:global(.__wab_instance) {
  position: relative;
}
.img__cazzS {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.freeBox__mXkbr {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__jb2Qv {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: cWIcYgKmdkP1vA */;
  line-height: 1;
  height: auto;
}
.svg__oglM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__hc38R {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: 0ySzEMIp_3yWk9 */;
  white-space: pre;
  display: inline-block;
}
.svg__zphVk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.logoCloudSection2:global(.__wab_instance) {
  position: relative;
}
.img__nXoEe {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__lwmF {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___5V1Go {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__owEsG {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__xlgFq {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.freeBox__ee7Pn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.testimonial__czP6O:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__vlzyZ {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__nldVd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__acAoh {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__bn12E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__yXyHs {
  height: auto;
}
.freeBox__kdpLc {
  height: auto;
}
.img___1WdT7 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__qRogI:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__zCxV5 {
  height: auto;
}
.img__wf66D {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.callToActionSection1:global(.__wab_instance) {
  position: relative;
}
.img___4DBtz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.freeBox__xo20D {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: #007aff;
}
.freeBox___4OLaq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___4OLaq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___4OLaq > :global(.__wab_flex-container) > *,
.freeBox___4OLaq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__f4Dbg {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: Vusv9sRh4z9Voz */;
}
.freeBox__aTpVe {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: Vusv9sRh4z9Voz */;
  line-height: 1;
}
.freeBox__ehVrj {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: DEf9XMXNcCfL5H */;
  line-height: 28px;
}
.freeBox__yjWyw {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__yjWyw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__yjWyw > :global(.__wab_flex-container) > *,
.freeBox__yjWyw > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__mzYsf:global(.__wab_instance) {
  position: relative;
}
.svg__jqGAu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.svg__rsZlu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.button__oZl21:global(.__wab_instance) {
  position: relative;
}
.svg__sCkQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
.freeBox__bq9CU {
  height: auto;
  font-weight: 400;
}
.svg___4T3Si {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XZ89B497mHtFgp */;
}
